.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 210px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
  z-index: 999;
  background-color: #242424;
  /* padding-bottom: 20px; */
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.button {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.icon {
  stroke: #f4f4f4;
}

.navList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

.networkList {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.networkLink {
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition:
    background-color 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.networkIcon {
  opacity: 0.8;
  fill: #f4f4f4;
}

.networkLink:hover,
.networkLink:focus {
  background-color: #f4f4f4;
  transform: scale(1.1);
}

.networkLink:hover .networkIcon,
.networkLink:focus .networkIcon {
  opacity: 1;
  fill: #242424;
}

@media screen and (min-width: 768px) {
  .overlay.active {
    display: none;
  }
}
