.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
    max-width: 233px;
    min-height: 52px;
    border-radius: 60px;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navList {
    display: flex;
    color: #f4f4f4;
    gap: 18px;
  }

  .item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f4f4f4;
  }

  .active {
    border-radius: 30px;
    background-color: #f4f4f4;
    color: #242424;
    padding: 6px 12px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    max-width: 265px;
  }
}
