/* #region Footer Mobile Styles */

.footer {
  background-color: #242424;
}

.containerFooter {
  padding-top: 40px;
  padding-bottom: 10px;
}

.logoIcon {
  fill: #f4f4f4;
  transition: transform 250ms ease-in-out;
}

.logo:hover .logoIcon {
  transform: scale(1.1);
}

.networkList {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.networkLink {
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition:
    background-color 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.networkLink .networkIcon {
  opacity: 0.8;
  fill: #f4f4f4;
  transition: fill 250ms ease-in-out;
}

.networkLink:hover,
.networkLink:focus {
  background-color: #f4f4f4;
  transform: scale(1.1);
}

.networkLink:hover .networkIcon,
.networkLink:focus .networkIcon {
  opacity: 1;
  fill: #242424;
}

.title {
  font-weight: 400;
  font-size: 38px;
  line-height: 116%;
  letter-spacing: -0.02em;
  color: #f4f4f4;
  margin-bottom: 20px;
}

.titleItalic {
  font-style: italic;
}

.subText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #f4f4f4;
  margin-bottom: 20px;
}

.energyText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  opacity: 0.9;
  margin-bottom: 10px;
}

.privacyText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  display: inline;
  margin-right: 79px;
}

.dateText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  opacity: 0.9;
}

/* #endregion Footer Mobile Styles */

/* #region Footer Tablet Styles */

@media screen and (min-width: 768px) {
  .containerFooter {
    padding-top: 64px;
    padding-bottom: 16px;
  }

  .containerContent {
    display: flex;
    justify-content: space-between;
  }

  .networkList {
    margin-top: 32px;
    margin-bottom: 0;
  }

  .networkLink {
    width: 44px;
    height: 44px;
  }

  .title {
    max-width: 450px;
    min-height: 180px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 32px;
  }

  .subText {
    font-size: 18px;
    line-height: 1.33;
  }

  .energyText {
    display: inline;
    margin-bottom: 0;
    margin-right: 78px;
  }

  .privacyText {
    margin-right: 178px;
  }
}

/* #endregion Footer Tablet Styles */

/* #region Footer Desktop Styles */

@media screen and (min-width: 1440px) {
  .title {
    max-width: 595px;
    min-height: 120px;
    margin-bottom: 0;
  }

  .containerContent {
    display: flex;
    gap: 158px;
    margin-bottom: 70px;
  }

  .containerTitle {
    display: flex;
    gap: 115px;
  }

  .energyText {
    margin-right: 122px;
  }

  .privacyText {
    margin-right: 498px;
  }
}

/* #endregion Footer Desktop Styles */
